{{define "titleParts"}}JAMES|CHUBBUCK{{end}}
{{define "content"}}
{{template "ascii" .}}
<main class="main">
  {{template "title" .}}
  <div class="content-wrapper">
    {{template "terminal" .}}
    <div class="gap-row icon-only-row">
      <a
        href="https://www.linkedin.com/in/jameschubbuck/"
        target="_blank"
        class="outline-button"
        aria-label="LinkedIn"
      >
        <span class="icon icon-linkedin" aria-hidden="true"></span>
        <span class="button-label">LinkedIn</span>
      </a>
      <a
        href="https://github.com/jameschubbuck"
        target="_blank"
        class="outline-button"
        aria-label="GitHub"
      >
        <span class="icon icon-github" aria-hidden="true"></span>
        <span class="button-label">GitHub</span>
      </a>
      <a
        href="https://www.instagram.com/james.chubbuck/"
        target="_blank"
        class="outline-button"
        aria-label="Instagram"
      >
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="button-label">Instagram</span>
      </a>
    </div>
    <div class="gap-row gap-row--wide">
      <a
        href="mailto:contact@jameschubbuck.com"
        target="_blank"
        class="outline-button outline-button--wide"
        aria-label="Contact"
      >
        <span class="icon icon-mail" aria-hidden="true"></span>
        <span class="button-label">Contact</span>
      </a>
      <a
        href="/resume.pdf"
        target="_blank"
        class="outline-button outline-button--wide"
        aria-label="Resume"
      >
        <span class="icon icon-file" aria-hidden="true"></span>
        <span class="button-label">Resume</span>
      </a>
    </div>
    <div class="gap-row">
      <a
        role="button"
        tabindex="0"
        class="outline-button"
        aria-label="Thoughts"
      >
        <span class="icon icon-lightbulb" aria-hidden="true"></span>
        <span class="button-label">Thoughts</span>
      </a>
      <a
        role="button"
        tabindex="0"
        class="outline-button"
        aria-label="Gallery"
      >
        <span class="icon icon-camera" aria-hidden="true"></span>
        <span class="button-label">Gallery</span>
      </a>
      <a
        role="button"
        tabindex="0"
        class="outline-button"
        aria-label="Ponderings"
      >
        <span class="icon icon-thought-bubble" aria-hidden="true"></span>
        <span class="button-label">Ponderings</span>
      </a>
    </div>
  </div>
</main>
{{template "footer" .}}
{{end}} {{define "scripts"}}
<script src="/static/js/terminal.js"></script>
<script src="/static/js/easter-eggs.js"></script>
<script src="/static/js/title.js"></script>
<script src="/static/js/hover-lift.js"></script>
{{end}}
